<!-- Embedded JavaScript -->
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Quiz</title>
    </head>
    <body>
        <form action="/quizes/<%= quiz.id %>/answer" method="get">
            Pregunta <%= quiz.pregunta %>
            <input type="text" name="respuesta" />
            <input type="submit" value="Responder">
        </form>

        <p><a href="/quizes/<%= quiz.id %>/comments/new"><button type="button">Nuevo comentario</button></a></p>

        <p><strong>Comentarios</strong></p>
        <%for(index in quiz.Comments){%>
            <% if(quiz.Comments[index].publicado || session.user){ %>
                <p>- <%= quiz.Comments[index].texto %>
                    <% if (session.user && !quiz.Comments[index].publicado){%>
                        <form action="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/publish?_method=put" method="post">
                            <input type="submit" value="Publicar">
                        </form>
                        <%}%>
                </p>
            <%}%>
        <%}%>
    </body>
</html>