<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
Cantidad de preguntas: <%= cantidad_pregunta %><br>
Cantidad de Total de comentarios: <%= cantidad_comentario %><br>
Numero medio de comentario por pregunta: <%= Numero_medio %><br>
Numero de preguntas sin comentario: <%= pregunta_sin_comentario %><br>
Numero de preguntas con comentario: <%= pregunta_con_comentario %><br>
</body>
</html>